:root {
    --text: #0c0b14;
    --background: #f2f1fa;
    --primary: #4234cd;
    --secondary: #9289ef;
    --accent: #5342f8;

    /* Typography */
    --font-color-primary: var(--text);
    --font-color-secondary: var(--background);
}

body {
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}